<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Il centro</h2>
                <p class="section-subheading"> <b>Spazio Indaco</b> nasce come luogo di incontro tra professionisti diversi, con l’obiettivo di offrire percorsi integrati e personalizzati nelle diverse fasi della vita. Ogni spazio è pensato per accogliere persone, famiglie, bambini, adolescenti e adulti in un ambiente curato e multidisciplinare.</p>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts %}
            {% if post.categories contains 'Stanze' %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-container">
                        <!--<a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">-->
                            <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        <!--</a>
                        <div class="non-clickable-area"></div>-->
                    </div>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div> 
    </div>
</section>
