<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Il centro</h2>
                    <h3 class="section-subheading" >Spazio Indaco è attrezzato con stanze dedicate all'esecuzione di diverse terapie e trattamenti. Il Centro dispone di uno specchio unidirezionale e di un sistema di videoregistrazione. Questi dispositivi sono fondamentali per garantire la massima tutela dei nostri utenti, con particolare attenzione ai bambini. Inoltre, Spazio Indaco si occupa anche di adulti, con un'attenzione speciale per le donne nel periodo pre e post gravidanza, offrendo supporto e accompagnamento specifici per questa delicata fase della vita.</h3>
                </div>
            </div>
            <div class="row">
            <!--<h2 class="section-heading">Coming soon</h2>-->
            <!-- {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div> --> 
        </div>
    </section>
