<!-- Services Section -->
<section id="servizi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Di cosa ci occupiamo</h2>
                <h3 class="section-subheading text-muted">I nostri servizi</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/1.jpg" alt="">
                </span>
                <h4 class="service-heading">Interventi psicoeducativi</h4>
                <p class="text-muted">Interventi cognitivo comportamentali (ABA)<br> 
                    naturalistici evolutivi-comportamentali (ESDM)<br> 
                    utilizzo Comunicazione Aumentativa e Alternativa<br>
                    Intervento in rete con scuola e famiglia</p>
            </div>
         <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/6.jpg" alt="">
                </span>
                <h4 class="service-heading">Terapia ABA</h4>
                <p class="text-muted"> Osservazione del soggetto in ambiente naturale, <br>
                    valutazione funzionale, <br>
                    sviluppo di programmi di insegnamento, <br>
                    raccolta e  analisi dei dati, <br>
                    incontri di coordinamento educativo</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/2.jpg" alt="">
                </span>
                <h4 class="service-heading">Interventi logopedici - Età evolutiva</h4>
                <p class="text-muted">Disturbi di linguaggio<br>
                    Disturbi della fluenza verbale (balbuzie)<br>
                    Disturbo dello spettro autistico<br> 
                    Disturbi dell'apprendimento<br> 
                    Utilizzo di CAA</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/4.jpg" alt="">
                </span>
                <h4 class="service-heading">Consulenze ostetriche</h4>
                <p class="text-muted">Riabilitazione del pavimento pelvico <br> Accompagnamento alla nascita <br> Assistenza domiciliare durante il puerperio <br> Sostegno all'allattamento al seno</p>
            </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img class="img-circle img-responsive" src="img/services/5.jpg" alt="">
            </span>
            <h4 class="service-heading">Interventi logopedici - Età adulta</h4>
            <p class="text-muted">Squilibri muscolari orofacciali e deglutizione disfunzionale<br>
                Disturbi del linguaggio<br>
                Disturbi dell'articolazione<br>
                Disturbi della deglutizione <br>
                Disturbi della voce (Disfonie)<br>
                Afasia, Disartria e Aprassia<br>
                Disturbi dell'Apprendimento (DSA)</p>
            </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/3.jpg" alt="">
            </span>
            <h4 class="service-heading">Neuropsicologia</h4>
            <p class="text-muted"> Valutazione neuropsicologica <br> 
                Interventi riabilitiativi precoci in situazione di rischio evolutivo (prematurità, ritardo sviluppo psicomotorio, linguistico, nella comunicazione, ritardi cognitivi, disturbi dello spettro autistico)<br> 
                Counseling alla scuola e alla famiglia</p>
            </div>        
        </div>
    </div>
</section>