<!-- Services Section -->
<section id="servizi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Di cosa ci occupiamo</h2>
                <h3 class="section-subheading text-muted">I nostri servizi</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/1.jpg" alt="">
                </span>
                <h4 class="service-heading">Interventi psicoeducativi per bambini autistici</h4>
                <p class="text-muted">Terapia ABA<br> 
                    Interventi naturalistici evolutivi-comportamentali<br> 
                    Intervento in rete con scuola e famiglia</p>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/8.jpg" alt="">
                    </span>
                    <h4 class="service-heading">Pedagogia familiare</h4>
                    <p class="text-muted">Corsi pre e post parto con focus educativo<br> 
                        Supporto educativo alla maternità e alla genitorialità<br> 
                        Promozione dello sviluppo del bambino attraverso un approccio metacognitivo</p>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <img class="img-circle img-responsive" src="img/services/4.jpg" alt="">
                        </span>
                        <h4 class="service-heading">Consulenze ostetriche</h4>
                        <p class="text-muted">Riabilitazione del pavimento pelvico <br> Accompagnamento alla nascita <br> Assistenza domiciliare durante il puerperio <br> Sostegno all'allattamento al seno</p>
                    </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/7.jpg" alt="">
                </span>
                <h4 class="service-heading">Nutrizione</h4>
                <p class="text-muted">Educazione alimentare
                    <br>Piani alimentari per la perdita di peso
                    <br>Piani personalizzati per donne in gravidanza, allattamento, menopausa
                    <br>Nutrizione sportiva, aumento di massa muscolare</p>
            </div>
            
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/5.jpg" alt="">
                </span>
                <h4 class="service-heading">Logopedia <br> Età evolutiva e adulto-geriatrica</h4>
                <p class="text-muted">Disturbi del linguaggio e della comunicazione<br>
                    Disturbo dello spettro autistico<br>
                    Afasia, Disartria e Aprassia<br>
                    Disturbi dell'articolazione, della voce (Disfonie) <br> e della fluenza verbale (balbuzie)<br>
                    Disturbi specifici dell'Apprendimento<br>
                    Disturbi della deglutizione e squilibri orofacciali<br></p>
            </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/3.jpg" alt="">
            </span>
            <h4 class="service-heading">Psicologia</h4>
            <p class="text-muted">Difficoltà emotive e relazionali 
                <br> Difficoltà in periodi di forte cambiamento 
                <br> Promozione del benessere e gestione di risorse 
                <br> Interventi di psicoeducazione 
                <br> Percorsi di sostegno genitoriale</p>
            </div>        
        </div>
    </div>
</section>