<!-- Services Section -->
<section id="servizi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chi siamo e di cosa ci occupiamo</h2>
                <h3 class="section-subheading text-muted">Siamo uno spazio multidisciplinare per sviluppo, neurodivergenze, famiglia e benessere lungo le fasi della vita</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Germoglio.jpg" alt="">
                </span>
                <h4 class="service-heading"> Età evolutiva e sviluppo</h4>
                <p class="text-muted">Linguaggio · Comunicazione · Autonomie · Gioco · Emozioni · Psicomotricità <br> </p>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/Autismo.jpg" alt="">
                    </span>
                    <h4 class="service-heading"> Autismo e neurodivergenze</h4>
                    <p class="text-muted">Interventi psicoeducativi · ABA · Abilità sociali · Emozioni · Collaborazione scuola-famiglia<br> 
                        </p>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <img class="img-circle img-responsive" src="img/services/Apprendimenti.jpg" alt="">
                        </span>
                        <h4 class="service-heading"> Apprendimento</h4>
                        <p class="text-muted">DSA · Funzioni esecutive · Prerequisiti scolastici · Supporto allo studio · Consulenze educative</p>
                    </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Logopedia.jpg" alt="">
                </span>
                <h4 class="service-heading"> Logopedia</h4>
                <p class="text-muted">Età evolutiva e adulta · Linguaggio · CAA · Deglutizione</p>
            </div>
            
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Gravidanza.jpg" alt="">
                </span>
                <h4 class="service-heading">Gravidanza, nascita e genitorialità</h4>
                <p class="text-muted">Percorso nascita · Allattamento · Post partum · Pavimento pelvico · Accompagnamento alle famiglie</p>
            </div>

        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Psicologia.jpg" alt="">
            </span>
            <h4 class="service-heading"> Benessere psicologico</h4>
            <p class="text-muted">Adolescenti · Adulti · Sostegno emotivo · Percorsi individuali</p>
            </div>      
            
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Nutrizione.jpg" alt="">
            </span>
            <h4 class="service-heading">Nutrizione</h4>
            <p class="text-muted">Educazione alimentare · Percorsi nutrizionali · Supporto nelle diverse et</p>
            </div>   

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Osteopatia.jpg" alt="">
                </span>
                <h4 class="service-heading">Osteopatia</h4>
                <p class="text-muted">Età pediatrica · Adulto · Supporto nelle diverse fasi della vita</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Fisioterapia.jpg" alt="">
                </span>
                <h4 class="service-heading">Fisioterapia</h4>
                <p class="text-muted">Recupero funzionale · Prevenzione · Attività riabilitative</p>
            </div>
        
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="img/services/Yoga.jpg" alt="">
            </span>
            <h4 class="service-heading"> Yoga</h4>
            <p class="text-muted">Ascolto corporeo · Equilibrio · Benessere</p>
            </div>   


        </div>
    </div>
</section>